<nav class="navbar navbar-expand-lg navbar-light shadow p-sm-1 p-md-2 p-lg-3">
  <div class="container">
    <div class="w-75">
      <a class="navbar-brand text-muted font-weight-bold" routerLink="home">MY AWESOME SHOP</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse font-weight-bold" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Bag</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
