.black{
  background-color: black;
}



@media screen and (min-width: 992px) {
  .py-7 {
    padding-bottom: 4rem !important;
    padding-top: 4rem !important;
  }
}

@media screen and (max-width: 992px) {
  .py-7 {
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
  }
}
