@media screen and (min-width: 720px) {
  .imgs {
    height: 50vh;
    width: auto;
    max-width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .imgs {
    height: 100%;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
